* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

*:after, *:before {
    box-sizing: border-box;
}

img.responsive-img {
    width: 100%;
    height: auto;
}

.white {
    background: #ffffff;
}

.gray {
    background: #999999;
}

.red {
    background: #ee6e73;
}

.orange {
    background: #F39F56;
}

.blue {
    background: #6495ed;
}

.green {
    background: #80ed65;
}

.white-50 {
    background: rgba(255, 255, 255, 0.50);
}

.gray-50 {
    background: rgba(125, 125, 125, 0.50);
}

.blue-50 {
    background: rgba(126, 168, 237, 0.50);
}

.red-50 {
    background: rgba(255, 139, 134, 0.50);
}

.font-white {
    color: #ffffff;
}

.font-gray {
    color: #333333;
}

.row {
    margin-left: auto;
    margin-right: auto;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row .col {
    position: relative;
    float: left;
    box-sizing: border-box;
    left: auto;
    right: auto;
}

.row .col.w1 {
    width: 4.166666666666667%;
}

.row .col.w2 {
    width: 8.333333333333333%;
}

.row .col.w3 {
    width: 12.5%;
}

.row .col.w4 {
    width: 16.66666666666667%;
}

.row .col.w5 {
    width: 20.83333333333333%;
}

.row .col.w6 {
    width: 25%;
}

.row .col.w7 {
    width: 29.16666666666667%;
}

.row .col.w8 {
    width: 33.33333333333333%;
}

.row .col.w9 {
    width: 37.5%;
}

.row .col.w10 {
    width: 41.66666666666667%;
}

.row .col.w11 {
    width: 45.83333333333333%;
}

.row .col.w12 {
    width: 50%;
}

.row .col.w13 {
    width: 54.16666666666667%;
}

.row .col.w14 {
    width: 58.33333333333333%;
}

.row .col.w15 {
    width: 62.5%;
}

.row .col.w16 {
    width: 66.66666666666667%;
}

.row .col.w17 {
    width: 70.83333333333333%;
}

.row .col.w18 {
    width: 75%;
}

.row .col.w19 {
    width: 79.16666666666667%;
}

.row .col.w20 {
    width: 83.33333333333333%;
}

.row .col.w21 {
    width: 87.5%;
}

.row .col.w22 {
    width: 91.66666666666667%;
}

.row .col.w23 {
    width: 95.83333333333333%;
}

.row .col.w24 {
    width:100%;
}

.row .col.h1 {
     height: 4.166666666666667%;
 }

.row .col.h2 {
    height: 8.333333333333333%;
}

.row .col.h3 {
    height: 12.5%;
}

.row .col.h4 {
    height: 16.66666666666667%;
}

.row .col.h5 {
    height: 20.83333333333333%;
}

.row .col.h6 {
    height: 25%;
}

.row .col.h7 {
    height: 29.16666666666667%;
}

.row .col.h8 {
    height: 33.33333333333333%;
}

.row .col.h9 {
    height: 37.5%;
}

.row .col.h10 {
    height: 41.66666666666667%;
}

.row .col.h11 {
    height: 45.83333333333333%;
}

.row .col.h12 {
    height: 50%;
}

.row .col.h13 {
    height: 54.16666666666667%;
}

.row .col.h14 {
    height: 58.33333333333333%;
}

.row .col.h15 {
    height: 62.5%;
}

.row .col.h16 {
    height: 66.66666666666667%;
}

.row .col.h17 {
    height: 70.83333333333333%;
}

.row .col.h18 {
    height: 75%;
}

.row .col.h19 {
    height: 79.16666666666667%;
}

.row .col.h20 {
    height: 83.33333333333333%;
}

.row .col.h21 {
    height: 87.5%;
}

.row .col.h22 {
    height: 91.66666666666667%;
}

.row .col.h23 {
    height: 95.83333333333333%;
}

.row .col.h24 {
    height: 100%;
}

.row .col.offset-1 {
    margin-left: 4.166666666666667%;
}

.row .col.offset-2 {
    margin-left: 8.333333333333333%;
}

.row .col.offset-3 {
    margin-left: 12.5%;
}

.row .col.offset-4 {
    margin-left: 16.66666666666667%;
}

.row .col.offset-5 {
    margin-left: 20.83333333333333%;
}

.row .col.offset-6 {
    margin-left: 25%;
}

.row .col.offset-7 {
    margin-left: 29.16666666666667%;
}

.row .col.offset-8 {
    margin-left: 33.33333333333333%;
}

.row .col.offset-9 {
    margin-left: 37.5%;
}

.row .col.offset-10 {
    margin-left: 41.66666666666667%;
}

.row .col.offset-11 {
    margin-left: 45.83333333333333%;
}

.row .col.offset-12 {
    margin-left: 50%;
}

.row .col.offset-13 {
    margin-left: 54.16666666666667%;
}

.row .col.offset-14 {
    margin-left: 58.33333333333333%;
}

.row .col.offset-15 {
    margin-left: 62.5%;
}

.row .col.offset-16 {
    margin-left: 66.66666666666667%;
}

.row .col.offset-17 {
    margin-left: 70.83333333333333%;
}

.row .col.offset-18 {
    margin-left: 75%;
}

.row .col.offset-19 {
    margin-left: 79.16666666666667%;
}

.row .col.offset-20 {
    margin-left: 83.33333333333333%;
}

.row .col.offset-21 {
    margin-left: 87.5%;
}

.row .col.offset-22 {
    margin-left: 91.66666666666667%;
}

.row .col.offset-23 {
    margin-left: 95.83333333333333%;
}

.row .col.offset-24 {
    margin-left:100%;
}


.row .col.pb1 {
    padding-bottom: 4.166666666666667%;
}

.row .col.pb2 {
    padding-bottom: 8.333333333333333%;
}

.row .col.pb3 {
    padding-bottom: 12.5%;
}

.row .col.pb4 {
    padding-bottom: 16.66666666666667%;
}

.row .col.pb5 {
    padding-bottom: 20.83333333333333%;
}

.row .col.pb6 {
    padding-bottom: 25%;
}

.row .col.pb7 {
    padding-bottom: 29.16666666666667%;
}

.row .col.pb8 {
    padding-bottom: 33.33333333333333%;
}

.row .col.pb9 {
    padding-bottom: 37.5%;
}

.row .col.pb10 {
    padding-bottom: 41.66666666666667%;
}

.row .col.pb11 {
    padding-bottom: 45.83333333333333%;
}

.row .col.pb12 {
    padding-bottom: 50%;
}

.row .col.pb13 {
    padding-bottom: 54.16666666666667%;
}

.row .col.pb14 {
    padding-bottom: 58.33333333333333%;
}

.row .col.pb15 {
    padding-bottom: 62.5%;
}

.row .col.pb16 {
    padding-bottom: 66.66666666666667%;
}

.row .col.pb17 {
    padding-bottom: 70.83333333333333%;
}

.row .col.pb18 {
    padding-bottom: 75%;
}

.row .col.pb19 {
    padding-bottom: 79.16666666666667%;
}

.row .col.pb20 {
    padding-bottom: 83.33333333333333%;
}

.row .col.pb21 {
    padding-bottom: 87.5%;
}

.row .col.pb22 {
    padding-bottom: 91.66666666666667%;
}

.row .col.pb23 {
    padding-bottom: 95.83333333333333%;
}

.row .col.pb24 {
    padding-bottom: 100%;
}
